body {
    padding: 0;
    margin: 0;
    background-color: #444;
    color: #aca;
}

h1 {
    font-size: 1.5rem;    
}

.sep {
    overflow:hidden;
}

.clickable {
    cursor: pointer;
    color: #07a207;
}

.clickable:hover {
    color: #0bf20b;
}

ul {
    list-style: none;
}

li::before {
    content: "*";
    padding-right: 5px;
}

.error {
    color: #F04;
    display: none;
}

.lib {
    display: flex;
    padding-bottom: 10px;
}

.lib div {
    margin-left: 10px;
}

.desc {
    text-align: justify;
    text-justify: inter-word;
}

.CodeMirror {
    font-size: 0.8rem !important;
    font-family: 'Press Start 2P', courier !important;
    min-height: 500px !important;
}

div.container {
    margin-left: 20px;
    margin-right: 20px;
}

main {
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Press Start 2P', courier;
}

@media (min-width: 640px) {
    main {
        max-width: 600px;
    }
}

@media (min-width: 1024px) {
    main {
        max-width: 600px;
    }
}
